body {
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

main {
    background-color: hsl(0, 0%, 12%);
    border-radius: 0.7rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

.profile-image {
    width: 28%;
    border-radius: 50%;
    display:block;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 700;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 0.91rem;
    margin-bottom: 1rem;
}

.tagline {
    color: hsl(0, 0%, 100%);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-link {
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
    padding: 0.80rem;
    margin: 0.41rem;
    font-weight: 600;
    font-size: 0.9rem;
    width: 19rem;
}

.social-link:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}